.page_catalog {
    text-align: center;
    padding-bottom: 5rem;

    &__products {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 5rem;

        &-card {
            width: min-content;
            margin-inline: auto;
            text-align: center;
            cursor: pointer;

            &_img {
                position: relative;
                padding-block: 1rem;
                border-top: 1px solid var(--theme-color);
                border-bottom: 1px solid var(--theme-color);
                width: 200px;
                height: 200px;
                margin-inline: auto;
                margin-bottom: 0.4rem;

                &::before {
                    content: '';
                    pointer-events: none;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: radial-gradient(ellipse at top, var(--theme-color) 0%, transparent 70%);
                    filter: brightness(180%);
                    mix-blend-mode: lighten;
                    opacity: .25;
                    transition: all 0.3s ease-in-out;
                }

                &:hover {
                    &::before {
                        opacity: .4;
                    }
                }

                img {
                    height: 100%;
                    width: auto;
                    margin: 0 auto;
                    pointer-events: none;
                }
            }

            &_title {
                display: inline-block;
                filter: brightness(100%);
                transition: filter 0.3s ease-in-out;

                &:hover {
                    filter: brightness(150%);
                }
                
                &-name {
                    font-size: 1rem;
                    letter-spacing: 0.02rem;
                    font-weight: 300;
                    margin-bottom: 0.3rem;
                    color: #ccc;
                }

                &-rating {
                    letter-spacing: 0.2rem;
                    color: var(--gold);
                    font-size: 0.8rem;
                }
            }
        }

        &-none {
            opacity: .75;
            font-style: oblique;
        }
    }
}