.type_list {
    display: flex;
    justify-content: center;
    gap: 2rem;
    color: whitesmoke;

    &__item {
        cursor: pointer;
        color: whitesmoke;
        transition: color 0.3s ease-in-out;

        &:hover {
            color: var(--theme-color);
        }

        .bi {
            color: var(--theme-color);
            filter: brightness(170%);
            pointer-events: none;
            font-size: 0.8rem;
        }
    }
}