.page_catalog {
    text-align: center;

    &__products {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 5rem;
        margin-bottom: 5rem;

        @media (max-width: 768px) {
            grid-template-columns: 1fr;
        }

        &-card {
            position: relative;
            width: min-content;
            margin-inline: auto;
            text-align: center;
            cursor: pointer;

            &_img {
                position: relative;
                padding-block: 1rem;
                border-top: 1px solid var(--theme-color);
                border-bottom: 1px solid var(--theme-color);
                width: 200px;
                height: 200px;
                margin-inline: auto;
                margin-bottom: 0.4rem;

                &::before {
                    content: '';
                    pointer-events: none;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: radial-gradient(ellipse at top, var(--theme-color) 0%, transparent 70%);
                    filter: brightness(180%);
                    mix-blend-mode: lighten;
                    opacity: .25;
                    transition: all 0.3s ease-in-out;
                }

                &:hover {
                    &::before {
                        opacity: .4;
                    }
                }

                img {
                    height: 100%;
                    width: auto;
                    margin: 0 auto;
                    pointer-events: none;
                }
            }

            &_title {
                display: inline-block;
                filter: brightness(100%);
                transition: filter 0.3s ease-in-out;

                &:hover {
                    filter: brightness(150%);
                }
                
                &-name {
                    font-size: 1rem;
                    letter-spacing: 0.02rem;
                    font-weight: 300;
                    margin-bottom: 0.3rem;
                    color: #ccc;
                }

                &-rating {
                    letter-spacing: 0.2rem;
                    color: var(--gold);
                    font-size: 0.8rem;
                }
            }

            &_tooltip {
                display: flex;
                width: 360px;
                height: 100%;
                position: absolute;
                top: 0;
                background-color: #fff;
                z-index: 10;
                pointer-events: none;
                opacity: 0;
                
                &.open {
                    opacity: 1;
                    transition: 0.25s ease-in;
                }

                &-img {
                    position: relative;
                    width: 35%;
                    height: 100%;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                p {
                    width: 65%;
                    color: #000;
                    text-align: left;
                    padding: 6px;
                    line-height: 14px;
                    font-size: 14px;
                    align-self: center;
                    max-height: 90%;
                    overflow-y: hidden;
                }
            }
        }


        &-none {
            opacity: .75;
            font-style: oblique;
        }
    }

    &__pagination {
        &_buttons {
            display: flex;
            justify-content: center;
            gap: 1rem;

            button {
                background-color: transparent;
                cursor: pointer;
            }
        }

        &_btn--num {
            font-size: 1.2rem;
            text-decoration: underline;
            border: none;
            color: var(--theme-color);
            transition: color 0.2s ease-in-out;
            
            &:hover {
                color: #fff;
            }

            &.current {
                color: #fff;
            }
        }

        &_btn--arrow {
            font-size: 1.1rem;
            border: 1px solid var(--theme-color);
            border-radius: 8px;
            padding: 0.2rem;
            color: #fff;
            transition: background-color 0.2s ease-in-out;

            &:hover {
                background-color: var(--theme-color);
            }
        }
    }
}