.header {
    background-color: transparent;
    position: relative;
    z-index: 1;
    padding: clamp(1rem,4vh, 1.5rem) 0;

    &_brand {
        text-align: center;
        font-family: var(--title-font);
        font-size: clamp(1.6rem, 11vw, 4rem);
        color: var(--beige);
        letter-spacing: 0.3rem;
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
        margin-bottom: 2rem;

        @media (max-height: 430px) {
            font-size: clamp(1.6rem, 8vh, 4rem);
        }

        strong {
            color: var(--light-orange);
        }
    }
}