.header {
    background-color: transparent;
    position: relative;
    z-index: 1;
    margin-bottom: 5rem;

    &_brand {
        text-align: center;
        font-family: var(--title-font);
        font-size: clamp(1.6rem, 11vw, 4rem);
        color: #fff;
        letter-spacing: 0.3rem;
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
        padding: 1rem;

        @media (max-height: 430px) {
            font-size: clamp(1.6rem, 8vh, 4rem);
        }

        strong {
            color: var(--theme-color);
        }
    }
}